<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-3">Consulte seu pedido</h4> 
    </div>
    <div class="col-8 text-center my-3">
       <%= image_tag "galpao.jpg", class: "img-fluid" %>
    </div>
  </div>
</div>
